<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-devoure="{{devoured}}">
		{{#if devoured}}Eat!{{else}}Barf!{{/if}}
	</button>

	<button class="delete-taco" data-id="{{this.id}}">DELETE!</button>
</li>
